 <!-- Contact Us Modal -->
 <div class="modal fade" id="contactUsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content p-3">
             <div class="modal-header" style="border: none;">
                 <h5 class="modal-title" id="exampleModalLongTitle">Contact Us</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
             <div class="modal-body pt-0 pb-0">
                 <p class="text-dark pt-0 mb-0">We can fully customise the wall to suit your event!</p>
                 <p class="text-dark pt-0">Send us a dm on Instagram to discuss.</p>
                 <div class="special-offer center soft-edges" style="background-color: #fae6d3;padding: 20px;">
                     <i class="fas fa-2x fa-glass-cheers" style="color:#efa967"></i>
                     <p class="text-dark mb-0 ml-3">Quote 'Website' for a special introductory offer 🥂🍩</p>
          </div>
          
        </div>
        <div class=" modal-footer" style="justify-content: start; flex-wrap: initial; border:none;">

            <a type="button" href="https://www.instagram.com/treatme_uk/" class="btn btn-primary text-white"
              style="width:50%" target="_blank"><i class="fab fa-instagram  text-white"></i>
              Instagram</a>
            <a type="button" href="tel:07547822765" class="btn btn-primary text-white" style="width:50%"><i
                class="fas fa-phone  text-white"></i>
              Phone</a>
          </div>
             </div>
         </div>
     </div>