<div class="price jumbotron-fluid bg-light mb-0">
    <div class="container">
        <div class="row pt-5 pb-5 row-eq-height">
            <div class="col-lg-12 text-center wow animate fadeIn" data-wow-delay="1s">
                <h2 class="mb-4">Doughnut Wall Pricing</h2>
            </div>

            <div class="col-lg-6 wow animate fadeInLeft" data-wow-delay="1s">
                <div class="price-box bg-white mb-4">
                    <span>Package 1</span>
                    <h3 style="font-size:3em;">£99</h3>
                    <hr class="mt-4 mb-4">
                    <ul>
                        <li>The Doughnut Wall (personalised with balloons, flowers or garlands)</li>
                        <li>30 x doughnuts (colour matched to your occasion)**</li>
                        <li>Delivery*</li>
                        <li>Set up</li>
                        <li>Paper bags for takeaway</li>
                    </ul>
                    <a data-toggle="modal" data-target="#doughnut-wall-contact" class="btn btn-primary text-white">
                        Enquire
                    </a>
                </div>
            </div>

            <div class="col-lg-6 wow animate fadeInRight" data-wow-delay="1s">
                <div class="price-box bg-white mb-4">
                    <span>Package 2</span>
                    <h3 style="font-size:3em;">£120</h3>
                    <hr class="mt-4 mb-4">
                    <ul>
                        <li>The Doughnut Wall (personalised with balloons, flowers or garlands)</li>
                        <li>60 x doughnuts (colour matched to your occasion)**</li>
                        <li>Delivery*</li>
                        <li>Set up</li>
                        <li>Paper bags for takeaway</li>
                    </ul>
                    <a data-toggle="modal" data-target="#doughnut-wall-contact" class="btn btn-primary text-white">
                        Enquire
                    </a>
                </div>
            </div>

            <div class="col-lg-12 wow animate fadeIn" data-wow-delay="1s">
                <div class="alert alert-primary" role="alert">
                    + £10 for Krispy Kreme Doughnuts
                </div>
                <p>*Free delivery on both walls within 20 mile radius, prices start from just £5 for further afield.</p>
                <p>**For any allergies please notify us before purchase.</p>
            </div>




        </div>
    </div>
</div>

<style>
    .bullet-points li {
        padding: 20px 0;
    }

    .price-box {
        padding: 2em;
        transition: ease all .3s;
    }

    .price-box hr{
        border-top: 14px solid rgb(248, 249, 250);
    }

    .price-box:hover{
        box-shadow: 14px 14px #f2c396;
        transform: translate(-14px,-14px);
    }

    .grey-border {
        border: 3px solid #f3f4f8;
    }
    .alert-primary{
        color: #efa967;
    background-color: #fefefe!important;
    border: solid 2px #f9e4d0!important;
    }
</style>