<div class="price jumbotron-fluid bg-dark wow animate fadeIn" data-wow-delay="1s">
    <div class="container">
        <div class="row pt-5">
            <div class="col-lg-12 text-center pt-4 pb-3" data-wow-delay="1s">
                <h2 class="mb-4 text-white">Gin & Rum Tasting Experience Pricing</h2>
            </div>
        </div>

        <div class="row display-flex mb-2">
            <div class="col-lg-6">
                <div class="price-box mb-4" style="height: 100%;">
                    <span>Gin Tasting Experience</span>
                    <h3 class="text-white" style="font-size:3em;">£28</h3>
                    
                    <hr class="mt-4 mb-4">
                    <ul>
                        <li>4x 50ml of unique Gins (yes that’s 4 doubles… yes 4!)</li>
                        <li>4x Premium Fever Tree Tonic*</li>
                        <li>Fresh fruit garnishes, specific for each gin</li>
                        <li>2x  paper straws </li>
                        <li>2x Pretzels to eat between tasting to clear your palate </li>
                        <li>Tasting notes and history of each gin</li>
                        <li>Scoring card to rate your favourite</li>
                    </ul>
                    <a data-toggle="modal" data-target="#gin-rum-contact" class="btn btn-primary text-white">
                        Enquire
                    </a>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="price-box mb-4" style="height: 100%;">
                    <span>Rum Tasting Experience</span>
                    <h3 class="text-white" style="text-white">£28</h3>
                    <hr class="mt-4 mb-4">
                    <ul>
                        <li>4x 50ml of unique Rums (yes that’s 4 doubles…yes 4!)</li>
                        <li>4x Coca Cola Zero Cans*</li>
                        <li>Fresh fruit garnishes*</li>
                        <li>2x paper straws</li>
                        <li>2x Pretzels to eat between tasting to clear your palate</li>
                        <li>Tasting notes and history of each Rum</li>
                        <li>Scoring card to rate your favourite</li>
                    </ul>
                    <a data-toggle="modal" data-target="#gin-rum-contact" class="btn btn-primary text-white">
                        Enquire
                    </a>
                </div>
            </div>
        </div>
        <div class="row pb-5">
            <div class="col-lg-12 pb-3">
                <div class="alert alert-primary" style="display:inline;">
                    Free delivery within 10 miles of Southampton
                </div>
                <div class="alert alert-primary" style="display:inline;">
                    Courier service available: £9
                </div>
                <p class="mt-4">*Alternative are available, please contact us.</p>
                <p>Contactless delivery is available </p>
            </div>




        </div>
    </div>
</div>

<style>
    .price-box {
        background-color: #333;
        color: #fff;
        padding: 2em;
        transition: ease all .3s;
    }

    .price-box hr{
        border-top: 14px solid rgb(66, 66, 66);
    }

    .price-box:hover{
        box-shadow: 14px 14px #3c3c3c;
        transform: translate(-14px,-14px);
    }

    .grey-border {
        border: 3px solid #f3f4f8;
    }
    .alert-primary{
        color: #e3b73d ;
    background-color: #3c3c3c!important;
    border: solid 2px #333333!important;
    }

    .price-box h3{
       font-size:3em;
    }

    @media(max-width:425px){
        .price-box h3{
            font-size: 2rem!important;
        }
        .price-box:hover{
        box-shadow: unset;
        transform: unset;
    }
    }

    .price-box span{
        color: #e3b73d ;
    }
</style>