<div id="social" class="section-2 jumbotron jumbotron-fluid mb-0" style="background: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0) )
  , url({{site.baseurl}}/assets/images/home/pro-hero.jpg); background-size: cover;background-position: center;position: relative;padding: 10rem 2rem;">
	<div class="container">
		<div class="row pt-5 pb-5 justify-content-md-center">
			<div class="col-md-10 text-center content">
				<h3 class="text-light">Follow us on Social </h3>
				<p class="text-light large-paragraph">Follow us on Instagram for behind the scenes from our events and also super secret projects we're working on...</p>
					<!-- <a class="btn btn-primary mr-3 mb-3 facebook-button" href="#"><i class="fab fa-facebook text-light mr-2"></i> Facebook</a> -->
					<a class="btn btn-primary instagram-button" href="https://www.instagram.com/treatme_uk/" target="_blank"><i class="fab fa-instagram text-light mr-2"></i> Instagram</a>
			</div>

		</div>
	</div>
</div>