<div id="testimonials" class="section-2 jumbotron jumbotron-fluid mb-0 wow animate fadeIn bg-none pt-0 pb-0">
	<div class="container-fluid pr-0 pl-0">
		<div class="row pt-3 pb-3 mr-0 ml-0 bg-light">
			<div class="col-md-12 text-center content pt-4">
				<h3 class="text-yellow wow animate fadeIn" data-wow-delay=".25s">Our Testimonials</h3>
				<p style="max-width: 600px;" class="mt-4 mb-0">Don’t take our word for it, look at our reviews.</p>
			</div>
			<div class="col-md-12 text-center content pl-0 pr-0">
				<div class="slick-slider">
					<div class="alert alert-white text-center py-4" style="display:inline;">
						<div>
							"Perfect lockdown treat. Highly recommened! Thanks Treat Me!"</br>
							<strong class="mt-1">Lauren</strong>
							<div class="stars pt-2"><i class="fa fa-star yellow ">&nbsp;</i> <i
									class="fa fa-star yellow">&nbsp;</i> <i class="fa fa-star yellow">&nbsp;</i> <i
									class="fa fa-star yellow">&nbsp;</i> <i class="fa fa-star yellow">&nbsp;</i></div>
							<div class="from pt-2">
								<i class="fab fa-2x fa-facebook-square"></i>
							</div>
						</div>
					</div>
					<div class="alert alert-white text-center py-4" style="display:inline;">
						<div>
							"From the moment I emailed I couldn't have asked or better service...you were AMAZING and I
							will
							be definitely using again"</br>
							<strong class="mt-1">Michelle</strong>
							<div class="stars pt-2"><i class="fa fa-star yellow ">&nbsp;</i> <i
									class="fa fa-star yellow">&nbsp;</i> <i class="fa fa-star yellow">&nbsp;</i> <i
									class="fa fa-star yellow">&nbsp;</i> <i class="fa fa-star yellow">&nbsp;</i></div>
							<div class="from pt-2">
								<i class="fab fa-2x fa-facebook-square"></i>
							</div>
						</div>
					</div>
					<div class="alert alert-white text-center py-4" style="display:inline;">
						<div>
							"We recieved the gin box over the weekend; nice presentation, great selection of brands and
							amazing communication from the company before and during delivery, since we were not in! We
							will
							definitely try the rum next!"</br>
							<strong class="mt-1">Stelli </strong>
							<div class="stars pt-2"><i class="fa fa-star yellow ">&nbsp;</i> <i
									class="fa fa-star yellow">&nbsp;</i> <i class="fa fa-star yellow">&nbsp;</i> <i
									class="fa fa-star yellow">&nbsp;</i> <i class="fa fa-star yellow">&nbsp;</i></div>
							<div class="from pt-2">
								<i class="fab fa-2x fa-facebook-square"></i>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<style>
	/* Testimonials  Slick Slider */
	.slick-slider .alert {
		border-radius: 0;
		background-color: #fff;
		box-shadow: 8px 7px #e3b73d;
		display: inline-block;
		margin: 0px 10px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex !important;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		/* min-height: 200px; */
	}

	.slick-track {
		display: flex !important;
	}

	.slick-slide {
		height: inherit !important;
	}

	.slick-slider strong {
		display: block;
	}

	.slick-track {
		padding: 2rem 0;
		display: flex;
	}

	.fa-google {
		background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;
		-webkit-text-fill-color: transparent;
	}

	.fa-instagram {
		color: transparent;
		background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
		background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
		background-clip: text;
		-webkit-background-clip: text;
	}

	.fa-facebook-square {
		color: #3b5998;
		background-image: linear-gradient(to bottom, transparent 20%, white 20%, white 93%, transparent 93%);
		background-size: 55%;
		background-position: 70% 0;
		background-repeat: no-repeat;
	}
</style>