<div id="doughnut-wall" class="section-2 jumbotron jumbotron-fluid bg-light mb-0 pb-0">
	<div class="container">
		<div class="row pt-5 pb-5">
			<div class="col-12 col-sm-6 center mb-5 wow animate fadeIn" data-wow-delay="1s">
				<div>
					<h3 class="mb-3">The Doughnut Wall</h3>
					<p>Looking for the perfect addition to your Wedding, Birthday or Baby Shower?
						Our beautiful hand-made wall, holds up to 60 doughnuts! </p>
						<p>We can personalise the wall and colour match the doughnuts to suit your event too!.</p>
					<a data-toggle="modal" data-target="#doughnut-wall-contact" class="btn btn-primary text-white">
						Enquire Now
					</a>
					<a href="/the-doughnut-wall/" class="btn btn-secondary ">
						Read More
					</a>
				</div>
			</div>
			<div class="col-12 col-sm-6 order-first mb-5">
				<img class="image-shadow wow animate fadeInRight" data-wow-delay="1s" style="width: 100%;" src="{{site.baseurl}}/assets/images/home/d-wall.jpg" alt="" style="width: 100%;">
			</div>
		</div>
	</div>
</div>