<div id="prosecco-wall" class="section-2 jumbotron jumbotron-fluid bg-light mb-0">
	<div class="container">
		<div class="row pt-5 pb-5">
			<div class="col-12 col-sm-6 mb-5">
				<img style="width: 100%;box-shadow: 14px 14px #f2c396;" src="{{site.baseurl}}/assets/images/home/pro-wall.jpg" alt="" style="width: 100%;">
			</div>
			<div class="col-12 col-sm-6 center pl-5">
				<div>
					<h3 class="mb-3">🥂 The Prosecco Wall</h3>
					<p>Planning your summer event or looking for a lovely addition to your dream wedding?</p>
						<p>Our 6.5ft tall Prosecco Wall holds 40 glasses and we can personalise to suit your event</p>
						<a data-toggle="modal" data-target="#prosecco-wall-contact" class="btn btn-primary text-white">
							Enquire Now
						</a>
				</div>
			</div>
		</div>
	</div>
</div>