<div id="gin-and-rum" class="section-2 jumbotron jumbotron-fluid bg-light mb-0 pb-0">
	<div class="container">
		<div class="row pt-5 pb-5">
			<div class="col-12 col-sm-6 center mb-5 wow animate fadeIn" data-wow-delay=".5s">
				<div>
					<h3 class="mb-3 relative" style="max-width: 80%;
					margin: inherit;">Gin & Rum Tasting Experiences<span class="new">new</span></h3>
					<p>Introducing our new Gin & Rum Tasting Experiences! Whether you’re looking for the perfect gift, looking to experience new flavours or just want a cosy night in with some delicious drinks… Treat Me’s Tasting Experience’s are for you! 
					</p>
					<a data-toggle="modal" data-target="#gin-rum-contact" class="btn btn-primary text-white">
						Enquire Now
					</a>
					<a href="/gin-and-rum-tasting-experience/" class="btn btn-secondary ">
						Read More
					</a>
				</div>
			</div>
			<div class="col-12 col-sm-6 order-first mb-5">
				<img class="image-shadow wow animate fadeInRight" data-wow-delay=".5s" style="width: 100%;" src="{{site.baseurl}}/assets/images/gin-rum/gin-kit-treat-me-southampton-2.jpg" alt="" style="width: 100%;">
			</div>
		</div>
	</div>
</div>