// Header // ----------------------------------

#hero-header {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.page-wrapper {
  min-height: calc(100vh - 50px);
}

.header-content-container {
  height: 100%;
  width: 100%;
  position: relative;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  display: -webkit-flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.header-content {
  text-align: center;
  padding: 220px 0 136px;
  position: relative;
  z-index: 2;
  width: 100%;
}

.splash {
  position: relative;
  height: calc(100% - 46px);
  min-height: 480px;
  overflow: hidden;
}

.splash-60 {
  position: relative;
  height: 60vh;
  min-height: 480px;
  overflow: hidden;
}

.splash-full {
  position: relative;
  height: calc(100vh - 75px);
  min-height: 480px;
  overflow: hidden;
}

.splash-video-wrapper {
  top: 50%;
  left: 50%;
  width: 100vw;
  min-width: 177.77778vh;
  height: 100vh;
  min-height: 60vw;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.splash-overlay {
  // text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.splash-video {
  width: 100%;
  height: 100%;
  display: block;
}

.splash-headline {
  font-weight: 700;
  width: 100%;
}
.splash-headline-center{
  max-width: 570px;
  position: inherit;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.project-image-gradient {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .8;
}

.header-content-container .project-name {
  display: initial;
  font-size: 2em;
}

@media(max-width:425px) {
  .header-content-container .project-name {
    display: initial;
    font-size: 1.5em;
  }
}

#hero-header p {
  max-width: 600px;
  color: #fff;
  padding-top: 1em;
}
#hero-header h1, #hero-header h2, #hero-header h3{
  color:#fff;
}

.navbar {
  width: 100%;
  background-color: inherit;
}

.navbar-brand{
  color: #fff;
}
.navbar-brand:focus, .navbar-brand:hover {
  text-decoration: none;
  color: #fff;
}
.solidnav .navbar-brand{
  color:$primary;
}

@media (max-width:425px) {
  .navbar-collapse .navbar {
    height: unset;
    width: 100%;
  }

  .navbar-collapse .nav-item {
    width: 100%;
  }
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 70px;
  display: flex;
  float: left;
}

.navbar ul li a {
  font-family: $font-primary;
  font-size: 14px;
  display: block;
  color: #fff;
  opacity: .8;
  font-weight: 300;
  text-align: center;
  padding: 25px 20px;
  text-decoration: none;
}

.navbar ul li a:hover {
  opacity: 1;
}

.navlogo {
  width: 35px;
}

.banner {
  position: relative;
  height: 200px;
  background: linear-gradient(270deg, #00d0ff, #036aed);
}

.banner-s {
  position: relative;
  background: linear-gradient(270deg, #00d0ff, #036aed);
}

.banner svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4vw !important;
}

/*Medium Screen */
@media (max-width: 1021px) {
  .sub-nav {
    display: none;
  }
}


.newnavbar {
  position: fixed !important;
  z-index: 100;
  width: 100%;
  transition: ease all .4s;
}

.solidnav {
  position: fixed;
  z-index: 100;
  background-color: #424242;
  box-shadow: 0 8px 24px rgba(13, 13, 18, 0.04);
  transition: ease all .4s;
}

.solidnav .navlogo path {
  fill: #036aed;
}

.solidnav ul li a, .dropdown-item {
  color: #fff!important;
}

.dropdown-menu{
  border: unset!important;
  box-shadow: 0 8px 20px rgba(55, 125, 255, 0.075)!important;
  margin:0!important;
}

.solidnav ul li a:hover {
  color: #007bff;
}

.icon-bar {
  width: 22px;
  height: 2px;
  background-color: #fff;
  display: block;
  transition: all 0.2s;
  margin-top: 4px
}

.solidnav .icon-bar {
  background-color: #007bff;
}

.navbar-toggler {
  border: none;
  background: transparent !important;
}

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

.show.navbar-collapse,
.show.navbar-collapsing {
  width: 100vw;
  background-color: #424242;
}

.show ul li a{
  color:#212529 
}

.show .navbar-nav ul {
  height: unset;
  width: 100%;
}

.show .navbar-nav ul li {
  width: 100%;
}

@media (max-width:768px) {
  li.nav-item {
    width: 100%;
  }

  .navbar ul {
    height: unset;
    width: 100%;
    display: block;
  }

  li.nav-item.dropdown.show {
    position: initial;
  }

  .dropdown-menu {
    width: 100%;
    display: block;
    border: none;
    border-radius: 0 0 .25rem .25rem!important;
  }
}
@media (min-width:769px){
  .dropdown-menu.show{
    position: absolute;
  }
}

.navbar .new{
  padding: .1rem .6rem;
  top: 6px;
  right: 15px;
  font-size: .8em;
}
@media (max-width:990px){
  .navbar .new{
    padding: .4rem .8rem;
    top: -6px;
    right: 0px;
    left: 0;
    max-width: 50px;
    margin: 0 auto;
  }
}