@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap');


$font-primary: "Lexend Deca",
-apple-system,
Roboto,
Helvetica,
Arial,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol";
$monospace: 'Ubuntu Mono',
monospace,
sans-serif;

// Colours
$white: #fff;
$light-grey: #eceef1; // background grey
$light-light-grey-blue: #f8faff;
$light-grey-blue: #eef2f9;
$dark-grey: #333333; // default font colour
$primary: #efa967;
$primary-lighter: #90bdff;
$primary-lighter-lighter: #deebfe;
$primary-dark-shade: #c28144;
$primary-darker-shade: darken($primary-dark-shade, 10%); // Categories
$green: #5cc112;
$green-lighter: #d6efc4;
$yellow: #FFCC00;
$yellow-lighter: #f7ecbf;
$yellow-darnker: #ffc800;
$red: #ff5e5e;
$red-lighter: #ffd7d7;
$blue: #0f6aea;
$blue-lighter: #4d95fb;
$pink: #ff6cf3;
$pink-lighter: #ffdafc;
$grey: #333333;
$grey-lighter: #cccccc;

// Font-sizes
$font-size-large: 48px;
$font-size-medium: 22px;
$font-size-small: 0.95rem;
$font-size-tiny: 14px;

// Font weights
$light: 300;
$regular: 400;
$bold: 700;

p {
    color: #737f8d;
    font-family: $font-primary;
    letter-spacing: .01em;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.7;
    margin: 0 auto
}

h1 {
    font-family: $font-primary;
    font-size: 3.5rem !important;
    line-height: 1.15;
    font-weight: 600;
    color: #333333;
    margin: 0 auto;
}

h2 {
    font-family: $font-primary;
    font-size: 2.5rem;
    font-weight: 600;
    margin: 0 auto;
    color: #333333;
}

h3 {
    font-family: $font-primary;
    font-size: 1.2rem;
    line-height: 1.15;
    font-weight: 600;
    color: #333333;
    margin: 0 auto;
}

h4 {
    font-family: $font-primary;
    font-size: 1rem;
    line-height: 1.15;
    font-weight: 600;
    color: #036aed;
    margin: 0 auto;
}

// Mobile
@media (max-width:425px){
    h1 {
        font-size: 2.5rem !important;
    }
    h2 {
        font-size: 1.5rem !important;
    }
    h3 {
        font-size: 1.25rem !important;
    }
}

a {
    color: $blue;
}

p a:link,
p a:visited {
    border-bottom: 2px solid #0f6aea;
    transition: 0.3s ease;
}

p a:link:hover,
p a:visited:hover {
    border-bottom: 2px solid #000;
    color: #000;
    transition: 0.3s ease;
}

.btn {
    padding: .75rem 2rem!important;
}

* {
    font-family: "Lexend Deca", -apple-system, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.badge span {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    letter-spacing: 1px;
    padding: 3px 6px;
    background-color: #0f6aea;
    text-transform: uppercase;
    font-family: "Lexend Deca", -apple-system, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.content a:not(.btn) {
    word-wrap: break-word;
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    color: inherit;
    outline-color: #efa967;
    text-decoration: none;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(40%, #26ffae), color-stop(40%, transparent));
    background-image: linear-gradient(0deg, #efa967 30%, transparent 0);
    border: none;
}

.content a:not(.btn):hover {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#26ffae), to(#26ffae));
    background-image: linear-gradient(0deg, #efa967 0, #efa967);
    border: none;
}

.btn-primary{
    background-color: $primary!important;
    border-color: $primary!important;
}
.bg-primary{
    background-color: $primary!important;
}
.btn-primary:hover{
    background-color: $primary-darker-shade!important;
    border-color: $primary!important;
}

.btn-secondary {
    color: #efa967!important;
    border: solid 2px!important;
    border-color: #efa967!important;
    background-color: unset!important
}

.btn-secondary:hover {
    color: #fff!important;
    border: solid 2px!important;
    background-color: #efa967!important;
}


