<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
	<div class="page-wrapper">

		{% include header-main.html %}

		{% include main-banner.html %}

		{% include sub-banner.html %}

		{% include section-1.html %}

		{% include text-image.html %}

		{% include text-image-2.html %}

		{% include section-2.html %}

		{% include masonary-gallery.html %}

		{% include footer.html %}		

</body>

		<!-- Modals -->
		{% include contact-modal.html %}

		{% include doughnut-modal.html %}
		
		{% include prosecco-modal.html %}

</html>